.index {
    padding: 10px;
    border-radius: 5px;
}

.row a {
    color: white;
}
.row a:hover {
    color: grey;
}

hr {
    border: none;
    height: 2px;
    margin: 20px 0;
    background-color: rgb(108, 108, 108);
}

.ul intro-text{
    list-style-type: square;
}

.main {
    background-color: #28242c;
    padding: 20px;
}
