.search_result {
    padding: 10px;
    border-radius: 5px;
}

hr {
    border: none;
    height: 2px;
    margin: 20px 0;
    background-color: rgb(108, 108, 108);
}

ul {
    list-style-type: none;
}

.li a {
    color: white;
}
.main {
    background-color: #28242c;
    padding: 20px;
}