{% extends "encyclopedia/layout.html" %}
{% load static %}

{% block extra_css %}
        <link href="{% static 'encyclopedia/about_page.css' %}" rel="stylesheet">  <!-- Specific CSS for new_page.html -->
    {% endblock %}

{% block title %} 
    About
{% endblock %}

{% block body %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1>About CS50W Project 1: Wiki</h1>
        <hr>
        <br>

        <h2>Project Description</h2>
        <hr>
        <p>This project is a simple wiki website by <a href="//github.com/AyKaay"><b>Farrel A</a></b> built as part of Harvard's CS50W Web Programming with Python and JavaScript course made by. 
            The site allows users to create, edit, and view encyclopedia entries written in Markdown.</p>
        <br>

        <h2>Features</h2>
        <hr>
        <ul>
            <li><strong>View Entries</strong>: Users can view a list of all encyclopedia entries.</li>
            <li><strong>View Entry</strong>: Users can click on an entry to view its content.</li>
            <li><strong>Search</strong>: Users can search for an entry by its title or content. Partial matches are also displayed.</li>
            <li><strong>Create New Entry</strong>: Users can create a new encyclopedia entry.</li>
            <li><strong>Edit Entry</strong>: Users can edit existing encyclopedia entries.</li>
            <li><strong>Random Entry</strong>: Users can view a random encyclopedia entry.</li>
            <li><strong>Markdown Support</strong>: Entries are written in Markdown and rendered as HTML.</li>
        </ul>
        <br>

        <h2>Technologies Used</h2>
        <hr>
        <ul>
            <li><strong>Backend</strong>: Django, Python</li>
            <li><strong>Frontend</strong>: HTML, CSS, Bootstrap</li>
            <li><strong>Markdown</strong>: Python-Markdown for rendering Markdown content</li>
        </ul>
        <br>

        <h2>Usage</h2>
        <hr>
        <ol>
            <li><strong>View Entries</strong>: Navigate to the home page to see a list of all encyclopedia entries.</li>
            <li><strong>Search Entries</strong>: Use the search bar to find entries by title or content.</li>
            <li><strong>Create New Entry</strong>: Click on "Create New Page" to add a new entry.</li>
            <li><strong>Edit Entry</strong>: Open an entry and click "Edit" to modify its content.</li>
            <li><strong>Random Entry</strong>: Click on "Random Page" to view a random entry.</li>
        </ol>
        <br>

        <h2>Project Structure</h2>
        <hr>
        <ul>
            <li><code>encyclopedia/</code>: Contains the main application code.
            <ul>
                    <li><code>migrations/</code>: Database migrations.</li>
                    <li><code>static/</code>: Static files (CSS).</li>
                    <li><code>templates/</code>: HTML templates.</li>
                    <li><code>models.py</code>: Database models.</li>
                    <li><code>views.py</code>: Application views.</li>
                    <li><code>urls.py</code>: URL routing.</li>
                </ul>
            </li>
            <li><code>wiki/</code>: Project settings and configurations.
                <ul>
                    <li><code>settings.py</code>: Project settings.</li>
                    <li><code>urls.py</code>: Project URL routing.</li>
                    <li><code>util.py</code>: Project encyclopedia query utilities.</li>
                </ul>
            </li>
        </ul>
        <br>

        <h2>Acknowledgements</h2>
        <hr>
        <p>The project is part of the <a href="https://cs50.harvard.edu/web/2020/">CS50W Web Programming with Python and JavaScript</a> course by Harvard University.</p>
        <br>
    </div>

{% endblock %} 